@page "/about-me"

<h3>AboutMe</h3>

@if (contentHtml is not null)
{
    @((MarkupString)contentHtml)
}

@code {
    private string? contentHtml;

    protected override async Task OnInitializedAsync()
    {
        var md = await File.ReadAllTextAsync("wwwroot/Content/AboutMe.md");
        // contentHtml = Markdown.ToHtml(md);
    }
}
