@page "/HighlightendBleur"
@inherits BaseComponent
<main>
    <div class="bleur"></div>

    <div class="content non-highlight">dit zie je niet</div>
    <div class="content highlight">dit zie je</div>
</main>
@code {

}
