.page-layout {
    --side-site-padding: 5vw;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header" "aside main";
    height: 100vh;
}

header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 2;
    grid-area: header;
    background-color: white;
}

aside {
    position: sticky;
    top: 0;
    height: 100%;
    grid-area: aside;
    background-color: white;
}

main {
    grid-area: main;
    display: grid;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    padding: 1rem var(--side-site-padding, 5vw);
    margin: 0 auto;
}
