@inherits LayoutComponentBase
@inject IJSRuntime JS

<Toast />

<div class="page-layout">
    <header id="mainHeader">
        <HeaderMenu />
    </header>
    
    <aside>
        <NavMenu />
    </aside>

    <main>
        @Body
    </main>
</div>

@code {

}