@inherits LayoutComponentBase

<div class="content">
    <aside>
        <NavMenu />
    </aside>

    <header class="sidebar">
        <HeaderMenu />
    </header>

    <main>
        @Body
    </main>
</div>