.gradient-bottom {
    height: 121px;
    padding-top: 37px;
    bottom: 0;
    z-index: 24;
    background-position: bottom;
    position: absolute;
    width: 100%;
    user-select: none;
    pointer-events: none;
}

.Video-Controls {
    width: calc(100% - (2* 12px));
    position: absolute;
    bottom: 0;
    left: 12px;
    z-index: 25;
}

.controls {
    --border-color: 0,0,0;
    --border-opacity: .15;
    display: flex;
    height: 48px;
}

.controls-left {
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
}

.controls-right {
    display: flex;
}

a,
button{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    border: none;
    outline-offset: -4px;
}

p {
    display: flex;
    align-items: center;
    gap: 1ch;
    user-select: none;
    pointer-events: none;
    text-shadow: 1px 0 0 rgba(var(--border-color), var(--border-opacity)),
        -1px 0 0 rgba(var(--border-color), var(--border-opacity)),
        0 1px 0 rgba(var(--border-color), var(--border-opacity)),
        0 -1px 0 rgba(var(--border-color), var(--border-opacity)),
        0.7px 0.7px 0 rgba(var(--border-color), var(--border-opacity)),
        -0.7px 0.7px 0 rgba(var(--border-color), var(--border-opacity)),
        0.7px -0.7px 0 rgba(var(--border-color), var(--border-opacity)),
        -0.7px -0.7px 0 rgba(var(--border-color), var(--border-opacity));
}

.autonav-toggle-button {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIxMiIgZmlsbD0ibm9uZSI+PGRlZnMgLz48cGF0aCBvcGFjaXR5PSIuNSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMi43IDExYzIuOTUgMCA1LjMtMi4yMSA1LjMtNXMtMi4zNS01LTUuMy01SDcuM0M0LjM1IDEgMiAzLjIxIDIgNnMyLjM1IDUgNS4zIDVoMTUuNHptLTIuNy0uNzV2LTguNWw2LjcgNC4yNi02LjcgNC4yNHoiIGZpbGw9IiNmZmYiIC8+PHBhdGggb3BhY2l0eT0iLjUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNy4zIDFDNC4zNSAxIDIgMy4yMSAyIDZzMi4zNSA1IDUuMyA1aDE1LjRBNS4xNiA1LjE2IDAgMDAyOCA2bC0uMDMtLjU0QTUuMTYgNS4xNiAwIDAwMjIuNyAxSDcuM3ptMTUuNCAxMWMzLjQ1IDAgNi4zLTIuNiA2LjMtNnMtMi44NS02LTYuMy02SDcuM0MzLjg1IDAgMSAyLjYgMSA2czIuODUgNiA2LjMgNmgxNS40eiIgZmlsbD0iIzAwMCIgZmlsbC1vcGFjaXR5PSIuMyIgLz48L3N2Zz4=);
    -webkit-background-size: cover;
    background-size: cover;
    background-color: transparent;
    -webkit-transition: all .08s cubic-bezier(.4,0,1,1);
    transition: all .08s cubic-bezier(.4,0,1,1);
}