<div class="skills" style="--skill-color: @SkillColor">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string SkillColor { get; set; } = "#ccc";
}
