div {
    display: grid;
}

::deep input {
    padding: 1rem;
    border-radius: var(--radius-s);
    border: 1px solid var(--color-gray-200);
    outline-color: var(--color-success);
    text-align: right;
}

::deep input.invalid {
    outline: 2px solid red;
    outline-offset: -1px;
}

::deep .validation-message {
    color: red;
}
