.editor-wrapper {
    display: grid;
}

.editor-wrapper ::deep select {
    appearance: base-select;
    padding: .75rem 1.2rem;
    border-radius: var(--radius-s);
    border: 1px solid var(--color-gray-200);
    outline-color: var(--color-success);
    background-color: var(--color-gray-000);
    color: black;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    min-width: 12ch;
    width: fit-content;
    cursor: pointer;
    width: 100%;

    &:hover {
        background-color: var(--color-gray-100);
    }

    &:focus-visible {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
    }
}

button {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

.editor-wrapper ::deep ::picker(select) {
    appearance: base-select;
    background-color: var(--color-gray-000);
    color: black;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-xs);
    padding: .5rem;
    margin: .5rem 0;
    box-shadow: var(--shadow);
}

selectedcontent,
option {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
}

option {
    padding: .5rem;
    border-radius: 0;
    color: var(--color-gray-800);
    cursor: pointer;

    &:hover {
        background-color: var(--color-gray-100);
    }

    &::checkmark {
        display: none;
    }

    &:checked {
        background-color: var(--color-gray-100);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .editor-wrapper ::deep select {
        transition: background-color var(--transition-base) var(--cubic), border-color var(--transition-base) var(--cubic);
    }

    option {
        transition: background-color var(--transition-base) var(--cubic);
    }
}
